extends layout

block content
    .main-content
        h1 #{pageName} - #{task.name}

        form.add-project(action=`/tasks/${task.url}` method="POST")
            .field
                label(for="subtask") Subtask:
                input.name-task(type="text" name="subtask" placeholder="Subtask name")
            .field.send
                input.button.new-subtask(type="submit" value="Add")

        .pending-list
            ul
                if subtasks.length
                    each subtask in subtasks 
                        li.subtask 
                            p= subtask.subtask
                            .actions
                                if subtask.status
                                    i.fi.fi-br-check.completo
                                else 
                                    i.fi.fi-br-check
                                i.fi.fi-br-cross
                else 
                    p No subtasks for this task

        .container-actions
            a.button(href=`/task/edit/${task.id}`) Edit task
            button#delete-task(data-task-url=task.url type="button" class="button delete") Delete task
